@charset "UTF-8";

   
body{
    background-color: rgb(70, 142, 236);
    font: normal 1em Arial;
    text-align: center;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);


}

.botao{
    background-color: rgb(17, 112, 236);
    color: white;
    padding: 10px;
    margin: 10px;
    width: 20vw;
    font-weight: bold;
    font-size: 2em;
    border-radius: 25px;
    border: none;
}

.botao:hover{
    background-color: rgb(70, 142, 236);
    cursor: pointer;
}

ul{
    border: 1px solid black;
    width: 200px;
    margin: auto;
    text-align: left;
    padding: 30px;
}

li{
    padding: 5px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

